BODY,
H2,
H3,
H4,
H5,
H6,
TH,
ol,
P,
TD {
    font-family: arial, helvetica, sans-serif;
}

text{
    background-color: blue;
}   


H1 {
    font-size: 38px;
    font-family: 'Courier New', monospace;
    text-align: center;
    color: #0FFF50;
    border:#0FFF50 1px solid;
    border-style: dashed;
    border-color: #0FFF50;
    border-width: 1.5px;
    font-style: bold;
    border-collapse: separate;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    text-shadow: 10px 10px 10px blueviolet;
    font-size: 350%;
}

H2 {
    color: #0FFF50;
    font-style: bold;
    text-shadow: 10px 10px 10px blueviolet;
}

table {
    border: 1px solid #0FFF50;
    color: #0FFF50;
    font-style: bold;
    text-shadow: 10px 10px 10px blueviolet;
}

P{
    color: #0FFF50;
    font-style: bold;
    text-shadow: 10px 10px 10px blueviolet;
    border: 1px solid #0FFF50;
    position: absolute;
    text-justify: auto;
}

ol{
    text-transform: bold;
}



svg {
    background-color: rgb(41, 41, 36);
    position: absolute;
}

p.highlight {
    color: red;
}
